.custom-shape-divider-top-1698647901 {
    margin-top: -24px;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1698647901 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 170px;
}

.custom-shape-divider-top-1698647901 .shape-fill {
    fill: #DC3545;
}